# PocketBase API Endpoint
VITE_POCKETBASE_URL=https://api.166.88.35.57.sslip.io/

# Application configuration
VITE_APP_NAME=WALY Admin Portal
VITE_APP_ENV=development

# Merchant/Customer client application URL
VITE_MERCHANT_APP_URL=https://waly-five.vercel.app
