# PocketBase API Endpoint
VITE_POCKETBASE_URL=https://api.risev.app/

# Application configuration
VITE_APP_NAME=WALY Admin Portal
VITE_APP_ENV=development

# Merchant/Customer client application URL
VITE_MERCHANT_APP_URL=https://risev.app
